&2col {
  @media #{$min560} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -32px 0 0;
  }
  &.--sp2col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .l-2col__item {
      flex-basis: calc(50% - 6px);
    }
    .l-2col__item + .l-2col__item {
      margin: 0;
      @media #{$min560} {
        margin: 32px 0 0;
      }
    }
  }
  &.--spMinMg {
    .l-2col__item + .l-2col__item {
      margin: 8px 0 0;
      @media #{$min560} {
        margin: 32px 0 0;
      }
    }
  }
  &__item {
    flex-basis: calc(50% - 16px);
    @media #{$min560} {
      margin: 32px 0 0;
    }
    & + & {
      margin: 24px 0 0;
      @media #{$min560} {
        margin: 32px 0 0;
      }
    }
    &.--full {
      flex-basis: 100%;
    }
  }
}
