&section {
  &Small {
    & + & {
      margin: 24px 0 0;
      @media #{$min560} {
        margin: 32px 0 0;
      }
    }
  }
  &Medium {
    & + & {
      margin: 40px 0 0;
      @media #{$min560} {
        margin: 64px 0 0;
      }
    }
  }
  &Large {
    & + & {
      margin: 80px 0 0;
      @media #{$min560} {
        margin: 160px 0 0;
      }
    }
  }
}
